/* .blue{
    height: 100px;
    width: 100px;
    background-color: rgb(71, 241, 241);
    background-image: url("https://mail.google.com/mail/u/1?ui=2&ik=905a0d0b5d&attid=0.1.1&permmsgid=msg-f:1640452011321032601&th=16c40e69addd7f99&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_cB5_qmVVWIEb6WIN1vEYDONGGfZXgvfYgF3Zpirs1CsWcB3xZjisWcJMo7ov7s275uUcKv7G7LaMtie67h_r228qaSkz_GDTVhBwQmM4TEwShgamOcUwfZhQ&disp=emb")
}

.pink{
    height: 100px;
    width: 100px;
    background-color: rgb(233, 186, 194)
} */

*{
    margin: 0;
}

/* .grayer{
    background-color: rgba(128, 128, 128, 0.26);
    height: 15vh;
} */

.appDiv{
    overflow: scroll;
}

.navbar{
    /* background-color: rgb(71, 241, 241); */
    background-image: linear-gradient(rgb(71, 241, 241), rgb(58, 146, 146));
    height: 15vh;
    width: 100vw;  
    box-shadow: 0 5px 7px black;
    margin-bottom: 4px;
}

.carouseldiv{
    display: flex;
    justify-content: center;
    background-color: rgb(233, 186, 194); 
}

.carousel{
    width: 100vw;
    height: 80vh;
    background-color: rgb(233, 186, 194); 
}

.img1{
    background-image: url("https://mail.google.com/mail/u/1?ui=2&ik=905a0d0b5d&attid=0.1.2&permmsgid=msg-f:1640452011321032601&th=16c40e69addd7f99&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ9QndzlsBjbJlaw5IH10Nf9EwaiPv2uPy2IoP0MxIxXxkSTna-O016Ya4Un9_DmdoBb5LZfDMSnrl1-p3QpKbUBL48UBQCDUa8VsxyelMaPZWy-DoEpOH5R5lo&disp=emb");
    height: 80vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgb(233, 186, 194); 
}

.img2{
    background-image: url("https://mail.google.com/mail/u/1?ui=2&ik=905a0d0b5d&attid=0.1.3&permmsgid=msg-f:1640452011321032601&th=16c40e69addd7f99&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_L5j1kH4EFCIQwyPJr4tsVNo0vFYnhfihwokPlS9ZcrINQniM4WKsV4zfphuRgduM0wOxbtxxgAumrQoanosGnHv2mDvEA16w4PsR4JKnXn1Bv78v_GXo6S0E&disp=emb");
    height: 80vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgb(233, 186, 194); 
}

.img3{
    background-image: url("https://mail.google.com/mail/u/1?ui=2&ik=905a0d0b5d&attid=0.1.4&permmsgid=msg-f:1640452011321032601&th=16c40e69addd7f99&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ95XxCr1tzpWXvIUJD0jbBhzV4yo1GvYtgSkvKXBH9Q_Zd2-1A4qTXK9MIzYqRXccyznCMERzNQMAo_7_eR2EDWgGd2sugdDYKzcMipjYeQM-uocCzBYduSzvc&disp=emb");
    height: 80vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgb(233, 186, 194); 
}

.img4{
    background-image: url("https://mail.google.com/mail/u/1?ui=2&ik=905a0d0b5d&attid=0.1.1&permmsgid=msg-f:1640452011321032601&th=16c40e69addd7f99&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_cB5_qmVVWIEb6WIN1vEYDONGGfZXgvfYgF3Zpirs1CsWcB3xZjisWcJMo7ov7s275uUcKv7G7LaMtie67h_r228qaSkz_GDTVhBwQmM4TEwShgamOcUwfZhQ&disp=emb");
    height: 80vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgb(233, 186, 194); 
}

.img5{
    background-image: url("https://mail.google.com/mail/u/1?ui=2&ik=905a0d0b5d&attid=0.1.7&permmsgid=msg-f:1640452011321032601&th=16c40e69addd7f99&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ8ZR9C7uS0JAGyMsdo1Z31-1johEC1UB6RdOLD1MZtvBOKsRNTEL3r9fU1xoeZGX4SXNcGl2G1OUIhD8E4VI9Ho2uKTbNgVgrx16ufoDF4Qgo3L_u-Dt07bLf4&disp=emb");
    height: 80vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgb(233, 186, 194); 
}

.img6{
    background-image: url("https://mail.google.com/mail/u/1?ui=2&ik=905a0d0b5d&attid=0.1.6&permmsgid=msg-f:1640452011321032601&th=16c40e69addd7f99&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ--0sYMKFncLBCqX8uc7qi_8ma4qIdd1sHzcuHuoo_L4uaYpOxN6AibPIweKDwy5KQ73U3z4YkVzYPnKWVJ2VrLHBvras3tiRoaU4QjYfZfZAS9GhQ5g49wJZc&disp=emb");
    height: 80vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgb(233, 186, 194); 
}

.homeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

p{
    font-family: DarkerR;
    color: rgb(70, 70, 70)
}

h1{
    font-family: DarkerB;
    color: rgb(70, 70, 70)
}

@font-face{
    font-family: DarkerR;
    src: url(./fonts/DarkerGrotesque-Regular.ttf)
}

@font-face{
    font-family: DarkerB;
    src: url(./fonts/DarkerGrotesque-SemiBold.ttf)
}