footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: 150px;
    background-color: rgb(224, 183, 190);
}

.footDiv{
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.infoColum{
    display: flex;
    flex-direction: column;
}

.footLink{
    text-decoration: none;
}