*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none;
}
/* ** graylayers ** */
.grayer{
    background-color: rgba(90, 90, 90, 0.507);
    width: 100%;
    height: 100%;
}

.dimmer{
    background-color: rgba(128, 128, 128, 0.151);
    width: 100%;
    height: 100%; 
}

.dimmer:hover{
    background-color: unset
}

/* ** Navbar ** */


nav{
    height: 55px;
    width: 100vw;
    background-color: rgb(224, 183, 190);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo{
    margin-left: 25px;
    color: rgb(75, 75, 75);
    font-family: RalewayR;
}

.navLink{
    text-decoration: none;
    margin-right: 25px;
    color: rgb(39, 39, 39);
    font-family: RalewayM;
}

/* ** Home Page ** */


.honeDiv{
    display: flex;
}

.headImg{
    background-image: url("https://images.unsplash.com/photo-1521590832167-7bcbfaa6381f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.devider{
    height: 70px;
    width: 100%;
    background-color: rgba(224, 183, 190, 0.507);
}

.sideDevider{
    width: 80px;
    height: 500px;
    background-color: rgba(224, 183, 190, 0.507);
}

.centerer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    color: rgb(134, 250, 250);
    font-family: RalewayR;
    font-size: 80px;
    text-shadow: 2px 3px rgb(75, 75, 75);
}

.carouseldiv{
    width: 365px;
}


.carouselImg{
    height: 500px;
    width: 365px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carImg1{
    background-image: url(https://mail.google.com/mail/u/1?ui=2&ik=905a0d0b5d&attid=0.1.3&permmsgid=msg-f:1640452011321032601&th=16c40e69addd7f99&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ8OCeKyFi3EDdeU9AxV3OCN7ocUtk3bPVDyEPFclA43k1pPKadP97jk5KzX76jFOJvbjepWYrEHQtknuSTpUbUlzWMpGneq_SCYyNSabRKn28hnYpmtbOtUbs0&disp=emb)
}

.carImg2{
    background-image: url(https://mail.google.com/mail/u/1?ui=2&ik=905a0d0b5d&attid=0.1.2&permmsgid=msg-f:1640452011321032601&th=16c40e69addd7f99&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-sSsq9ergl1f6vigEL3s50rGYoxa1nFc_HR6-pRNq4woxdv6HppH6SZckz7bzHiQnPB_PqrCRYH9EzRGCAWX3TTwYFyPygZQVFArLavI0a6BpCQI5eQ8eL4rM&disp=emb)
}

.carImg3{
    background-image: url(https://mail.google.com/mail/u/1?ui=2&ik=905a0d0b5d&attid=0.1.1&permmsgid=msg-f:1640452011321032601&th=16c40e69addd7f99&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ94gIhA3EJwI61RiyfMaDOm1wjHO6DVHiiKJCdAM01Ajhb-Kz5xWtZJth7XtRFo_mnqw0UnC9sZdOnVkTCyrqhF_bmKFw6SvRF9Bk5tsSXvwH5L4V6qCpRdVHY&disp=emb)
}

.carImg4{
    background-image: url(https://mail.google.com/mail/u/1?ui=2&ik=905a0d0b5d&attid=0.1.7&permmsgid=msg-f:1640452011321032601&th=16c40e69addd7f99&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-WKxRrHu7qnIDLSmdTrZ_w5MyzFfKPcaAt4PzomO6Lb_yoMDZQ8L8ceDC98BkP0eKpaYvMd5YvOQHxRHazQVH6wI5BXCG3FjLiok-GyxvKV4462KQdp2qUVOQ&disp=emb)
}

.carImg5{
    background-image: url(https://mail.google.com/mail/u/1?ui=2&ik=905a0d0b5d&attid=0.1.4&permmsgid=msg-f:1640452011321032601&th=16c40e69addd7f99&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-RbuXHQh3rrFp8izc9XnCiKXVczWUJvct2Xp8vDhEtnf1WmXYu_1gDsOyE8IrFckqA1p5qkzVWZU64FhXHM5iEd5wC9_HMN9s3nLmKTbHfys0VdCfQR7ybJxM&disp=emb)
}

.homeDescription{
    background-color: rgba(224, 183, 190, 0.507);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeDescription>h1{
    font-family: RalewayR;
    font-size: 50px;
    color: rgb(77, 77, 77);
}

.homeDescription>p{
    font-family: RalewayM;
    color: rgb(77, 77, 77);
}


/* ** Footer ** */

footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    min-height: 150px;
    background-color: rgb(224, 183, 190);
}

.footDiv{
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.footDiv>h2{
    font-family: RalewayR;
}

.footDiv>p{
    font-family: RalewayM;
    color: rgb(77, 77, 77);
    font-size: 13px
}

.infoColum{
    display: flex;
    flex-direction: column;
}

.footDiv>h4{
    font-family: RalewayR;
}

.footDiv>a{
    font-family: RalewayM;
    color: rgb(77, 77, 77);
    font-size: 13px 
}
.footLink{
    text-decoration: none;
    color: rgb(39, 39, 39);
    padding: 7px, 0;
}

/* ** gallery ** */

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    min-height: 95vh;
    background-color: rgba(224, 183, 190, 0.507);
}

.galleryDiv{
    max-width: 85vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 40px;
    grid-gap: 3px;
}

.galleryTextDiv{
    max-width: 300px;
    

}

.galleryTitle{
    width: 300px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(134, 250, 250);
    transition: all 2s;
    font-family: RalewayR;
}

.beforePic{
    height: 200px;
    width: 150px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2px;
    transition: all 2s;
}

.afterPic{
    height: 200px;
    width: 150px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2px;
}
.picDescription{
    width: 150px;
    display: inline-block;
    text-align: center;
    background-color: rgb(224, 183, 190);
    transition: all 2s;
    font-family: RalewayR;
}
.galleryDescription{
    width: 300px;
    text-align: center;
    background-color: rgb(224, 183, 190);
    transition: all 2s;
    font-family: RalewayM;
    color: rgb(77, 77, 77);
}

.none{
    display: none;
    transition: all;
}

/* ** admin Gallery ** */

.postForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(224, 183, 190, 0.507);
}

.logoutButton{
    width: 80px;
    height: 40px;
    margin-bottom: 50px;
    margin-top: 25px;
}


.submitForm{
    width: 400px;
}

.typeFeild{
    display: flex;
    flex-direction: column;
}
.showSubmit-false{
    display: none;
}

.showUpload-true{
    display: none;
}

.editButtonRow{
    display: flex;
    width: 1005;
    justify-content: space-evenly;
    margin-top: 10px
}

.button{
    margin: 15px;
    height: 25px;
    width: 50px;
}

.finishButton{
    background-color: blue;
    color: white;
}

/* ** admin galley text ** */

.edit-true{
    display: none;
}

.form-false{
    display: none;
}

.whitespace{
    margin: 10px
}

@font-face{
    font-family: RalewayM;
    src: url(./fonts/Raleway-Medium.ttf)
}

@font-face{
    font-family: RalewayMI;
    src: url(./fonts/Raleway-MediumItalic.ttf)
}

@font-face{
    font-family: RalewayR;
    src: url(./fonts/Raleway-Regular.ttf)
}

@media only screen and (max-width: 775px){
       /* ** home ** */
    
    .honeDiv{
        display: flex;
    }
    
    .carouseldiv{
        width: 355px;
    }
    
    
    .carouselImg{
        height: 500px;
        width: 355px;
    }
    
    .homeDescription{
        width: 80%;
        height: 500px;
        text-align: center;
        padding-left: 10px;
    }


}

@media only screen and (max-width: 415px){

    .honeDiv{
        flex-direction: column-reverse;
    }

    .sideDevider{
        display: none;
    }

    .centerer{
        font-size: 50px;
    }

    .carouseldiv{
        width: 100%;
    }


    .carouselImg{
        height: 500px;
        width: 100%;
    }

    .homeDescription{
        background-color: rgba(224, 183, 190, 0.507);
        width: 100%;
        height: 500px;
        display: flex;
        padding: 0;
    }

    .homeDescription>h1{
        font-family: RalewayR;
        font-size: 50px;
        color: rgb(77, 77, 77);
    }

    .homeDescription>p{
        font-family: RalewayM;
        color: rgb(77, 77, 77);
    }
}
