*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none;
}
/* ** graylayers ** */
.grayer{
    background-color: rgba(90, 90, 90, 0.315);
    width: 100%;
    height: 100%;
}

.dimmer{
    background-color: rgba(128, 128, 128, 0.151);
    width: 100%;
    height: 100%; 
}

.dimmer:hover{
    background-color: unset
}

/* ** Navbar ** */


nav{
    height: 55px;
    width: 100vw;
    background-color: rgb(224, 183, 190);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo{
    margin-left: 25px;
    color: rgb(75, 75, 75);
    font-family: RalewayR;
}

.navLink{
    text-decoration: none;
    margin-right: 25px;
    color: rgb(39, 39, 39);
    font-family: RalewayM;
}

/* ** Home Page ** */


.honeDiv{
    display: flex;
}

.headImg{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/vanity-80b98.appspot.com/o/secondGallery%2F20190828_083102.jpg?alt=media&token=506c156f-9155-4f79-994b-ec724342cce7");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.devider{
    height: 70px;
    width: 100%;
    background-color: rgba(224, 183, 190, 0.507);
}

.sideDevider{
    width: 80px;
    height: 500px;
    background-color: rgba(224, 183, 190, 0.507);
}

.centerer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    color: rgb(134, 250, 250);
    font-family: RalewayR;
    font-size: 70px;
    text-shadow: 2px 3px rgb(75, 75, 75);
}

.carouseldiv{
    width: 365px;
}


.carouselImg{
    height: 500px;
    width: 365px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carImg1{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/vanity-80b98.appspot.com/o/secondGallery%2FBri%20June19-4a.jpg?alt=media&token=478df6a6-bfe3-4e5e-8016-02e5f5b34f29")
}

.carImg2{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/vanity-80b98.appspot.com/o/secondGallery%2FIMG_20190716_224208_992.jpg?alt=media&token=dbc3ee9d-b12c-4bc6-bb4d-94563bdf6240")
}

.carImg3{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/vanity-80b98.appspot.com/o/secondGallery%2FIMG_20190703_224441_953.jpg?alt=media&token=c91c35f5-a47e-4c3d-8d78-f17c431c10bf")
}

.carImg4{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/vanity-80b98.appspot.com/o/secondGallery%2FIMG_20190727_211923_819.jpg?alt=media&token=83575392-0aef-41ee-8548-0a558fbc4cec")
}

.carImg5{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/vanity-80b98.appspot.com/o/secondGallery%2FIMG_20190719_090438_482.jpg?alt=media&token=b560808b-1ad8-4037-ab78-6e1499c58503")
}

.homeDescription{
    background-color: rgba(224, 183, 190, 0.507);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptH1{
    font-family: RalewayR;
    font-size: 30px;
    color: rgb(77, 77, 77);
    margin-bottom: 5px;
}

.missionState{
    font-family: RalewayM;
    color: rgb(77, 77, 77);
    max-width: 80%;
    text-align: center;
    margin-bottom: 25px;
}


/* ** Footer ** */

footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    min-height: 150px;
    background-color: rgb(224, 183, 190);
}

.footDiv{
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.footDiv>h2{
    font-family: RalewayR;
}

.footDiv>p{
    font-family: RalewayM;
    color: rgb(77, 77, 77);
    font-size: 13px
}

.infoColum{
    display: flex;
    flex-direction: column;
}

.footDiv>h4{
    font-family: RalewayR;
}

.footDiv>a{
    font-family: RalewayM;
    color: rgb(77, 77, 77);
    font-size: 13px 
}
.footLink{
    text-decoration: none;
    color: rgb(39, 39, 39);
    padding: 7px, 0;
}

/* ** gallery ** */

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    min-height: 95vh;
    background-color: rgba(224, 183, 190, 0.507);
}

.galleryDiv{
    max-width: 85vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 40px;
    grid-gap: 3px;
}

.galleryTextDiv{
    max-width: 300px;
    

}

.galleryTitle{
    width: 300px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(134, 250, 250);
    transition: all 2s;
    font-family: RalewayR;
}

.beforePic{
    height: 200px;
    width: 150px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2px;
    transition: all 2s;
}

.afterPic{
    height: 200px;
    width: 150px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2px;
}
.picDescription{
    width: 150px;
    display: inline-block;
    text-align: center;
    background-color: rgb(224, 183, 190);
    transition: all 2s;
    font-family: RalewayR;
}
.galleryDescription{
    width: 300px;
    text-align: center;
    background-color: rgb(224, 183, 190);
    transition: all 2s;
    font-family: RalewayM;
    color: rgb(77, 77, 77);
}

.none{
    display: none;
    transition: all;
}

/* ** admin Gallery ** */

.postForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(224, 183, 190, 0.507);
}

.logoutButton{
    width: 80px;
    height: 40px;
    margin-bottom: 50px;
    margin-top: 25px;
}


.submitForm{
    width: 400px;
}

.typeFeild{
    display: flex;
    flex-direction: column;
}
.showSubmit-false{
    display: none;
}

.showUpload-true{
    display: none;
}

.editButtonRow{
    display: flex;
    width: 1005;
    justify-content: space-evenly;
    margin-top: 10px
}

.button{
    margin: 15px;
    height: 25px;
    width: 50px;
}

.finishButton{
    background-color: blue;
    color: white;
}

/* ** admin galley text ** */

.edit-true{
    display: none;
}

.form-false{
    display: none;
}

.whitespace{
    margin: 10px
}

@font-face{
    font-family: RalewayM;
    src: url(./fonts/Raleway-Medium.ttf)
}

@font-face{
    font-family: RalewayMI;
    src: url(./fonts/Raleway-MediumItalic.ttf)
}

@font-face{
    font-family: RalewayR;
    src: url(./fonts/Raleway-Regular.ttf)
}

@media only screen and (max-width: 775px){
       /* ** home ** */
    
    .honeDiv{
        display: flex;
    }
    
    .carouseldiv{
        width: 355px;
    }
    
    
    .carouselImg{
        height: 500px;
        width: 355px;
    }
    
    .homeDescription{
        width: 80%;
        min-height: 500px;
        text-align: center;
        padding-left: 10px;
    }


}

@media only screen and (max-width: 415px){

    .headImg{
        height: 75vh;
    }

    .honeDiv{
        flex-direction: column-reverse;
    }

    .sideDevider{
        display: none;
    }

    .centerer{
        font-size: 50px;
    }

    .carouseldiv{
        width: 100%;
    }


    .carouselImg{
        height: 500px;
        width: 100%;
    }

    .homeDescription{
        min-height: 500px;
        padding: 0;
        width: 100%;
    }
    

    .descriptH1{
        font-size: 30px;
    }

    .listEnd{
        padding-bottom: 35px;
    }
}
